env:
  es6: true
  browser: true

parserOptions:
  ecmaVersion: 6
  sourceType: module

rules:
  indent: [ 1, 2, SwitchCase: 1 ]
  quotes: [ 1, single ]
  linebreak-style: [ 1, unix ]
  semi: [ 1, never ]
  no-undef: [ 1 ]
  no-console: [ 0 ]
  no-debug: [ 0 ]
  no-unused-vars: [ 1 ]
  space-infix-ops: [ 1 ]
  no-multi-spaces: [ 1 ]
  no-fallthrough: [ 0 ]
  comma-dangle: [1, only-multiline]
  eol-last: 'error'

globals:
  Vue: true
  module: true
  require: true
  crayfish: true
  Promise: true
  UParams: true
  Geohash: true
  hybridAPI: true
  UBT: true

extends: 'eslint:recommended'
